ultralytics
opencv-python
Pillow
numpy
accelerate

torch
transformers
sentence-transformers

fastapi
uvicorn
python-multipart

paddlepaddle-gpu==3.2.2 -i https://www.paddlepaddle.org.cn/packages/stable/cu126/
paddleocr